# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Nix result
/result

# C Documentation results
/doc/c_doc/html
/doc/c_doc/latex

# Documentation files
/doc/doclib.env
/doc/images/*.dot

#extra
*~
*.mp4
*.raw
[#]*[#]
.[#]*[#]
.cproject
.project
.settings
*.xxd
style.md
repl-ChibiOS/build
repl/repl
tests/test_lisp_code_cps
