source [find interface/raspberrypi2-native.cfg]
transport select swd
 
set CHIPNAME stm32f4x
source [find target/stm32f4x.cfg]
 
# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config  srst_nogate
 
adapter_nsrst_delay 100
adapter_nsrst_assert_width 100
 
init
targets
reset halt

